/* Colours */

@blue: #00BCE4;
@white: #FFFFFF;
@grey: #666;
@black: #000;
@red: #E25667;
@green: #16BC9C;

@twitter: #66C0E9;
@linkedin: #4A90E2;
@meetup: #E25667;
@dribbble: #F584AF;
@github: #4A4A4A;
@medium: #333333;